.slideshow {
  max-width: 600px;
  margin: 50px auto 0;
  display: flex;
}

.image {
  margin: 0 10px;
  width: 100%;
}

.button {
  color: #ccc;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.button:hover {
  color: #333;
  background-color: #eee;
}